@page "/counter"

<PageTitle>Quản lí mượn trả</PageTitle>

<button class="btn-box1">Quản lí mượn trả</button>
<NavLink class="nav-link" href="trang">          
                <button class="btn-box2">Xem trạng thái</button>
            </NavLink>
            <style>
                table {
                    background:white;
                }
    th {
        color:black;
    }
    .section-table tr {
        border-bottom:1px solid black;
    }
    .section-table td {
    color: black;
}
</style>
<div id="ql-borrow">
    <div class="section-one">
        <div class="section-one-left">          
            <h3>Thông tin sách</h3><br />
            <div class="sec-span">             
                <span>Tên sách :</span><br />
                <span>Mã sách :</span><br />
                <span>Số lượng :</span><br />
                <span>Tác giả :</span><br />
                <span>Loại sách :</span><br />
                <span>Nhà xuất bản :</span><br />
            </div>
            <div class="sec-input">
                <input type="text"/><br />
                <input type="text"/><br />
                <input type="number"/><br />
                <input type="text"/><br />
                <input type="text"/><br />
                <input type="text"/>
             </div>           
        </div>
        <div class="section-one-right">
            <h3>Thực hiện cho mượn</h3><br />
            <div class="sec-span">             
                <span>Mã độc giả :</span><br />
                <span>Ngày mượn :</span><br />
                <span>Ngày hẹn trả :</span><br />
                <span>Số lượng :</span><br />
                <span>Loại sách :</span>             
            </div>
            <div class="sec-input">
                <input type="text"/><br />
                <input type="datetime"/><br />
                <input type="datetime"/><br />
                <input type="number"/><br />
                <input type="text"/><br />
                <button class="btn-box1">Xác nhận</button>
             </div>        
        </div> 
        </div>
    <div class="section-table table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Mã độc giả</th>
                <th>Mã sách</th>
                <th>Ngày mượn</th>
                <th>Ngày hẹn trả</th>
                <th>Ngày trả</th>
                <th>Số lượng mượn</th>
            </tr>
        </thead>
    </table>  

</div>
</div>


@code {
    
}
